<section class="py-10 md:py-24 px-25">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
      <article class="lg:col-span-8 space-y-8">
        {% render 'article-header'
          , article: article %}
        {% render 'article-content'
          , article: article %}
          {% render 'article-navigation'
            , article: article
            , blog: blog %}
        {% render 'article-author'
          , article: article %}
        {% render 'article-comments'
          , article: article %}
      </article>

      <aside class="lg:col-span-4">
        {% render 'blog-widgets'
          , blog: blog
          , section: section %}
      </aside>
    </div>
  </div>
</section>

{% stylesheet %}
  .article-hero {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  }
  .article-body p {
    margin: 0 0 14px;
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Article",
    "tag": "section",
    "class": "article-details",
    "settings": [
      {
        "type": "header",
        "content": "Blog Widget Images"
      },
      {
        "type": "image_picker",
        "id": "recent_post_image_1",
        "label": "Recent Post Image 1"
      },
      {
        "type": "image_picker",
        "id": "recent_post_image_2",
        "label": "Recent Post Image 2"
      },
      {
        "type": "image_picker",
        "id": "recent_post_image_3",
        "label": "Recent Post Image 3"
      },
      {
        "type": "image_picker",
        "id": "recent_post_image_4",
        "label": "Recent Post Image 4"
      },
      {
        "type": "image_picker",
        "id": "recent_post_image_5",
        "label": "Recent Post Image 5"
      },
      {
        "type": "image_picker",
        "id": "recent_post_image_6",
        "label": "Recent Post Image 6"
      },
      {
        "type": "header",
        "content": "Instagram Feed Images"
      },
      {
        "type": "image_picker",
        "id": "instagram_image_1",
        "label": "Instagram Image 1"
      },
      {
        "type": "image_picker",
        "id": "instagram_image_2",
        "label": "Instagram Image 2"
      },
      {
        "type": "image_picker",
        "id": "instagram_image_3",
        "label": "Instagram Image 3"
      },
      {
        "type": "image_picker",
        "id": "instagram_image_4",
        "label": "Instagram Image 4"
      },
      {
        "type": "image_picker",
        "id": "instagram_image_5",
        "label": "Instagram Image 5"
      },
      {
        "type": "image_picker",
        "id": "instagram_image_6",
        "label": "Instagram Image 6"
      }
    ],
    "presets": [
      {
        "name": "Article"
      }
    ]
  }
{% endschema %}