<section class="py-10 md:py-24 px-25">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
      <article class="lg:col-span-8 space-y-8">
        {% render 'article-header'
          , article: article %}
        {% render 'article-content'
          , article: article %}
          {% render 'article-navigation'
            , article: article
            , blog: blog %}
        {% render 'article-author'
          , article: article %}
        {% render 'article-comments'
          , article: article %}
      </article>

      <aside class="lg:col-span-4">
        {% render 'blog-widgets'
          , blog: blog %}
      </aside>
    </div>
  </div>
</section>

{% stylesheet %}
  .article-hero {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  }
  .article-body p {
    margin: 0 0 14px;
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Article",
    "tag": "section",
    "class": "article-details",
    "settings": [],
    "presets": [
      {
        "name": "Article"
      }
    ]
  }
{% endschema %}